<div class="container">
  <h3 class="text-center text-muted my-3">Our Movie Lists</h3>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-6 col-md-4  my-5">
        <div class="card border border-0 bg-transparent" style="width: 18rem;">
          <div class="image-box">
            <%= image_tag list.movies.sample.poster_url, alt: "image", class: "card-img-top image" %>
            <%= image_tag list.movies.sample.poster_url, alt: "image", class: "card-img-top image" %>
            <%= image_tag list.movies.first.poster_url, alt: "image", class: "card-img-top image" %>
          </div>
          <%= link_to list_path(list), class: "circular-button" do %>
            <div class="list-title mt-n5"><span class="mt-n5 mb-1"><%= list.name %></span></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


