<div class="container">
  <div class="poster">
    <%#= link_to list_path(@list), method: :delete, data: { confirm: "Hey hey, stop right here! You might not want to do this." }, class: "poster-trash text-light h4" do  %>
      <%# <i class="fa fa-trash" aria-hidden="true"></i> %>
    <%# end %>
    <span id="poster-bin">
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, list_path(@list), class: "h2 text-success", method: :delete, data: { confirm: "Are you sure about it?" }  %>
    </span>
    <% if @list.photo.attached? %>
      <%= cl_image_tag @list.photo.key, alt: "image", class: "card-img-top image" %>
    <% else %>
      <%= image_tag "https://source.unsplash.com/1600x900/?" + @list.name, alt: "image", class: "card-img-top image" %>
    <% end %>
    <%#= image_tag @list.photo, alt: "poster" %>
    
    <p class="list-name h4 text-center mx-auto py-2 bg-success w-75">
      <strong>
        <%= @list.name %>
      </strong>
    </p>
  </div>
  <br>
  <h4 class="mt-5 text-center text-monospace"><strong>Bookmarks</strong></h4>
  <div class="row my-3">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-4 m-sm-6 mx-auto">
        <div class="card-hello my-5" data-aos="fade-up">
          <span class= "rating">
            <% bookmark.movie.rating.times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %> 
          </span>
          <%= image_tag bookmark.movie.poster_url, alt: "movie poster", class: "movie_poster" %>
          <div class="card-hello-info">
            <h4><strong><%= link_to bookmark.movie.title, bookmark_path(bookmark) %></strong></h4>
            <p><%= bookmark.comment %></p>
          </div>  
          <div>
            <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, bookmark_path(bookmark), class: "trash text-danger", method: :delete, data: { confirm: "Are you sure about it?" }  %>
          </div>
        </div>
      </div>    
    <% end %>
    <div class="col-md-4 m-sm-6 mx-auto">
        <div class="card-hello d-flex align-items-center justify-content-center my-5" data-aos="fade-up">
          <span class="plus">
            <i class="fas fa-plus"></i>
          </span>
        </div>
      </div>    
  </div>
</div>

<%= form_for [@list, @bookmark] do |f| %>
  <%= f.label :comment %>
  <%= f.text_field :comment %>
  
  <% @movies.each do |movie| %>
    <label>
      <%= f.radio_button :movie_id, movie.id %>
      <%= image_tag movie.poster_url, alt: "movie_poster" %>
    </label>
  <% end %>
  
  
  <%= f.submit "Add a bookmark", class: "btn btn-primary btn-lg btn-block"%>
<% end %>